html{
    background-color: #113355;
    color: #ffffff;
}

a:hover{
    background-color: #f0f0f0;
    color: #6200ff;
}

button:hover{
    background-color: #333333;
    color: #ffffff;
}

.clip-settings{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.clip-range-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clip-range-group__label{
    font-size: 1rem;
}

.clip-range-group__input{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    border: none;
}

.clip-format-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clip-format-group__label{
    font-size: 1rem;
}

.clip-format-group__select{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
}

.clip-search{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}

.clip-search__label{
    font-size: 1rem;
}

.clip-search__input{
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.clips{
    padding: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: helvetica;
}

.clips-list__item{
    color: #333333;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    padding: 40px;
    border-radius: 5px;
}

.clips-list-item__name-group{
    display: flex;
    flex-direction: column;
}

.clips-list-item-name-group__clip-name-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.clips-list-item-name-group-clip-name-group__label{
    font-size: 1.25rem;
    font-weight: bold;
}

.clips-list-item-name-group-clip-name-group__edit{
    padding: 10px 20px 10px 20px;
    background-color: #6200ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.clips-list-item-name-group__edit-name-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.clips-list-item-name-group-edit-name-group__input{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    border: none;
}

.clips-list-item-name-group-edit-name-group__save{
    padding: 10px 20px 10px 20px;
    background-color: #269c4d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.clips-list-item-name-group-edit-name-group__cancel{
    padding: 10px 20px 10px 20px;
    background-color: #6200ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.clips-list-item__video_name{
    font-size: 1rem;
}

.clips-list-item__url{
    font-size: 0.875rem;
}

.clips-list-item__time{
    display: flex;
    flex-direction: row;
    font-size: 0.875rem;
}

.clips-list-item-time__start{
    margin: 0px 20px 0px 0px;
}

.clips-list-item-time__end{}

.clips-list-item__controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

.clips-list-item-controls__jump{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    background-color: #6200ff;
    font-size: 1rem;
    color: #ffffff;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);   
}

.clips-list-item-controls__remove{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    background-color: #e7304f;
    font-size: 1rem;
    color: #ffffff;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
}

.clips__copy-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.clips-copy-data__button{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.25rem;
    padding: 10px 20px 10px 20px;
    background-color: #6200ff;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.clips__download-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.clips-download-data__button{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.25rem;
    padding: 10px 20px 10px 20px;
    background-color: #6200ff;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff
}

.clips__clear-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.clips-clear-list__button{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.25rem;
    padding: 10px 20px 10px 20px;
    background-color: #e7304f;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}